[Unit]
Description=Tailscale DERP Server
After=network.target

[Service]
Type=simple
User=derper
Group=derper
ExecStart=/usr/bin/derper -c /etc/derper/derper.conf
Restart=on-failure
RestartSec=5
LimitNOFILE=1048576

# Hardening measures
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE


[Install]
WantedBy=multi-user.target